/node_modules
/public/hot
/public/storage
/public/cert_copy
/public/signature
/public/userphoto
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
