.row{
    margin-left: 0;
    margin-right: 0;
}
@media only screen 
  and (min-device-width: 1025px) 
  and (max-device-width: 1200px){
    .stat-widget-five .stat-icon{
        margin-left: -25px;
    }
    .stat-widget-five .stat-content{
        margin-left:40px
    }

}
@media only screen 
  and (min-device-width: 110px) 
  and (max-device-width: 1024px) {
    .right-panel{
        margin-left:100px;
    }
    .stat-widget-five .stat-icon{
        margin-left: -5px;
    }
    .stat-widget-five .stat-content{
        margin-left:65px
    }
}

@media only screen 
  and (min-device-width: 992px) 
  and (max-device-width: 1009px) {
    .stat-widget-five .stat-icon{
        margin-left: -5px;
    }
    .stat-widget-five .stat-content{
        margin-left:65px
    }
}
@media only screen 
  and (min-device-width: 769px) 
  and (max-device-width: 991px) {
    .tbl-3{
        margin-left: -10px;
    }
    .tbl-4{
        padding-left:25px;
    }
}

@media only screen 
  and (min-device-width: 481px) 
  and (max-device-width: 768px) {
    .content{
        width: 768px;
    }
    footer.site-footer{
        width: 768px;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
    }
    .flex-box {
        width: 50%;
    }
    .right-panel .navbar-header{
        width: 768px;
        margin-left: 6px;
    }
    
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {
      
    .content{
        width: 480px;
    }
    footer.site-footer{
        width: 480px;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
    }
    .flex-box {
        width: 100%;
    }
    .card{
        width: 100%;
        margin-left:0;
    }

    .right-panel .navbar-header {
        width: 480px;
        margin-left: 29px;
    }
}
.sidebar {
  display: none;
}

@media only screen 
  and (min-device-width: 769px)
  and (max-device-width: 1024px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    overflow-x: hidden;
    overflow-y: auto
  }
  #left-panel .navbar .navbar-nav > li.active{
      width: 130px;
  }
  .navbar .navbar-nav{
    margin-top: 280px;
  }
}

@media only screen 
  and (max-device-width: 953px) {
      .header-img{
          margin-top: 5px !important;
      }
    .header-text{
        font-size: small;
        margin-top:0 !important;
    }
}
@media only screen 
  and (max-device-width: 768px) {
    .right-panel header.header .top-right{
        background-color: #481e69;
        margin-top: 50px;
        width: 256%;
        margin-left: -30px;
    }
    .content{
        margin-top:50px;
    }
    .card{
        width: 100%;
        margin-left:0;
    }
    #left-panel .navbar{
        margin-top: 55px;
    }
    .open-menu {
        display:block;
    }

    .right-panel header.header .top-left {
        margin-left: -6px;
    }
}

@media only screen 
  and (max-device-width: 480px){
    .right-panel header.header .top-right{
        background-color: #481e69;
        margin-top: 50px;
        width: 160%;
        margin-left: -30px;
    }
    .card{
        width: 100%;
        margin-left:0;
    }
    .right-panel header.header .top-left {
        margin-left: -29px;
    }
}

@media only screen 
  and (min-device-width: 1201px){
    .stat-content .text-left{
        margin-left: -28px;
    }
}

@media only screen
    and (max-device-width: 1238px){
        .container {
            max-width: 100%;
        }
        .ird-h{
            width: 132%;
            margin-left: -20px;
        }
        
}