/********************************
*   File Name: style.css
*	Author:  Ennvisio Digital
*
********************************/
@import url('https://fonts.maateen.me/kalpurush/font.css');
* {
    padding: 0;
    margin: 0;
}

body {
    /*overflow-x: hidden;*/
    font-family: 'Kalpurush', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

a:hover,
a:active {
    text-decoration: none;
}

.w100 {
    width: 100%;
}
.my-container {
    width: 100%;
    height: auto;
    margin: 0 0;
    padding: 0 0;
}

.my-row {
    margin: 0 !important;
}

.err_msg {
    color: red;
}
.app_img_wrapper {
    text-align: center;
}

/**********************/
.site-footer .container-fluid {
    width: 90%;
}
.site-wrap #header {
    background-color: #ffc1071a;
}

.site-wrap #header .container {
    background-color: transparent;
}
.site-wrap .container {
    background-color: #ffc1071a;
}
.site-footer .container,
.site-footer .container-fluid {
    background-color: #ffefbc;
}
.wrapper {
    box-sizing: border-box;
    /*width: 96%;
	margin: 0 2%;
	/*margin-top: 2px;*/
    /* background-color: #cacaca; */
}

/* .header-bar { */
/*height: 60px;*/
/* background-color: #009fdd; */
/*margin-bottom: 50px;*/
/* } */

#home-header-bar ul {
    margin: 0;
    text-align: right;
    padding: 1px 0;
}

#home-header-bar ul li {
    display: inline-block;
    padding: 5px 10px;
}

#home-header-bar ul li a {
    color: #fff;
}

#home-header-bar ul li a:hover {
    color: #2f2f2f;
}

#home-header-bar ul li:first-child {
    border-right: 1px solid #e3e3e3;
}

.content {
    min-height: calc(100vh - 145px);
}

#logo > a > img {
    width: 200px;
    vertical-align: middle;
    margin: 10px 10px;
    text-align: center;
}

/* #header-img > a > img {
	width: 80%;
	margin: 20px 20% 0 0;
	} */

#header-img {
    padding-left: 15px;
}

#header-img h1:first-child {
    margin-top: 30px;
    font-weight: bold;
    color: #f47920;
}
#header-img h2 {
    color: #243d8a;
}
.header-info > ul {
    margin: 15px 0 0 0;
}

.header-info > ul > li {
    font-size: 15px;
    padding-bottom: 10px;
}

.header-info > ul > li > i {
    margin-right: 5px;
}

.header-info > ul > li > i.fas.fa-phone-volume {
    transform: rotate(-60deg);
}

.action-bar {
    min-height: 20px;
    background-color: #000;
}

#dataForm label {
    font-size: 18px;
}

footer.site-footer .container {
    background-color: #ffc1071a;
    border-top: 1px solid #1d21245c;
}
#footer-bar {
    padding-bottom: 1px;
    margin: 0 0px;
}

#footer-bar > p {
    text-align: center;
    padding: 10px 0;
    margin: 0;
}

/* user-info */

#header.wrapper .row {
    position: relative;
}

.user-info {
    position: absolute;
    top: 84px;
    right: 15px;
    padding-right: 15px;
}
ul.dropdown-menu.show {
    background: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    left: auto !important;
    right: 0;
    top: 6px !important;
}

ul.dropdown-menu.show li a {
    padding: 7px 15px;
    background: #dddd;
    display: block;
}

.warp-search {
    padding: 0;
    margin: 200px 0 460px 0;
    display: flex;
    flex-flow: row wrap;
    position: relative;
}

.warp-search span {
    position: absolute;
    top: -110px;
    right: 0;
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: 25px;
}

.warp-search .input-search input {
    border-radius: 0;
    padding: 6px 15px;
}

.warp-search .input-submit button {
    border-radius: 0;
    border: none;
    padding: 7px 13px;
    margin-right: -1px;
    background: #1aa3db;
}

.warp-search .input-search {
    width: calc(100% - 76px);
}

.warp-search .input-search input:focus,
.warp-search .input-submit button:focus {
    outline: none;
    box-shadow: none;
}
.dataform-1 button.btn.btn-success.btn-block {
    width: 250px;
    margin: 0;
    background-color: #1aa3db;
    border-color: #1aa3db;
}
.form_field_mandatory {
    color: red;
    padding-left: 5px;
}
.counter {
    background: #fbfbfb;
}
#left-panel .navbar .navbar-nav li > a:hover,
#left-panel .navbar .navbar-nav li > a:hover .menu-icon {
    color: #08b317;
}
#left-panel .navbar .navbar-nav > li.active {
    background: #007184;
}
#left-panel .navbar .navbar-nav li.active > a {
    color: #fff;
}
#left-panel .navbar .navbar-nav li > a {
    font-size: 16px;
}
#left-panel .navbar .navbar-nav li.active > a .menu-icon {
    color: #fff;
}
/* #left-panel .navbar .navbar-nav li > a .hide-left-menu-title {
    display: none;
} */
@media (max-width: 1024px) {
    aside.left-panel {
        max-width: 130px;
        width: 130px;
    }
    .content {
        margin: 0px;
    }
    body {
        margin-left: 27px;
    }
}
@media (min-width: 1200px) {
    .col-xl-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (min-width: 992px) {
    .col-lg-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (max-width: 768px) {
    .small-device .right-panel {
        margin-left: -28px;
        width: 360px;
    }
    .right-buttons {
        display: inline !important;
    }
    .card {
        width: 350px;
        margin-left: -15px;
    }
    .right-panel .navbar-header {
        width: 360px;
    }
    .right-panel .header {
        width: 360px;
    }
    .right-panel header.header .top-left {
        margin-left: -30px;
    }
    .right-panel .navbar-header > a {
        padding-left: 20px;
    }
    body {
        width: 333px;
    }
    .left-panel .user-menu {
        display: block !important;
    }
}
.left-panel .user-menu {
    display: none;
}

.stat-content .stat-heading {
    font-size: 18px;
}
.stat-content .count {
    font-weight: bold;
}

/* Zebra_DatePicker_Icon_Wrapper adjustment css*/
span.Zebra_DatePicker_Icon_Wrapper {
    width: auto !important;
}
span.Zebra_DatePicker_Icon_Wrapper input {
    background: #fff !important;
}
button.Zebra_DatePicker_Icon {
    top: 50% !important;
    margin-top: -8px;
}
.Zebra_DatePicker {
    background: #086171;
}
.Zebra_DatePicker .dp_daypicker th {
    background: #19d5de;
}
.Zebra_DatePicker .dp_actions .dp_hover {
    background-color: #02a3bf;
}
/* Zebra_DatePicker_Icon_Wrapper adjustment css ended*/

#weatherWidget .currentDesc {
    color: #ffffff !important;
}
.traffic-chart {
    min-height: 335px;
}
#flotPie1 {
    height: 150px;
}
#flotPie1 td {
    padding: 3px;
}
#flotPie1 table {
    top: 20px !important;
    right: -10px !important;
}
.chart-container {
    display: table;
    min-width: 300px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
}
.legend table {
    margin-top: 17px;
}
#flotLine5 {
    height: 105px;
}
#flotBarChart {
    height: 150px;
}
#cellPaiChart {
    height: 160px;
}

#example_length label {
    display: flex;
    align-items: center;
}
#example_length label select[name="example_length"] {
    margin: 0 5px;
    width: auto;
}
#example_filter label {
    display: flex;
    align-items: center;
    float: right;
}
#example_filter label input[type="search"] {
    margin-left: 5px;
}
.modal-header {
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
}

.right-form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pv-card-hader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.s-feild-wrap {
    display: flex;
    align-items: center;
    font-size: 15px;
}
.s-feild {
    display: flex;
    align-items: center;
    width: auto;
    padding-left: 10px;
}
.s-feild label {
    margin: 0;
}
.s-feild select {
    width: auto;
    margin-left: 10px;
    font-size: 15px;
}
.s-feild button {
    font-size: 15px;
    margin-left: 5px;
}
.s-feild button:first-child {
    margin-left: 0;
    margin-right: 30px;
}
.police-st-field {
    position: relative;
}
img.police-st-field-loader {
    position: absolute;
    width: 20px;
    height: auto;
    right: 14px;
    display: none;
}
.right-form button.buttons-pdf {
    background: #17a2b8;
    border-color: #17a2b8;
    color: #fff;
    margin-left: 5px;
    margin-top: 4px;
    border-radius: 3px;
    margin-right: 0;
}
.right-form button.buttons-pdf:hover,
.right-form button.buttons-pdf:focus {
    background: #138496 !important;
    border-color: #138496;
}
.print-header {
    margin-left: 12px;
}

td.action {
    min-width: 70px;
    text-align: center;
}

td.action .btn {
    margin: 0 2.5px;
}

/* #example_wrapper */
#example_wrapper {
    font-size: 14px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border-color: transparent;
    background: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover a {
    border-color: none;
    background: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover a {
    border-color: #849c7a;
    background: #849c7a;
}
.dataTables_paginate .pagination li.active a {
    background: #02b7af;
    border-color: #02b7af;
    color: #fff;
}

table.dataTable thead th,
table.dataTable thead td {
    vertical-align: middle;
}

table.dataTable thead th,
table.dataTable tbody td {
    padding: 5px !important;
    font-size: 14px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
}

table.dataTable thead th,
table.dataTable tbody td {
    padding: 8px 12px !important;
    font-size: 14px !important;
}
.form img {
    display: inline-block;
    height: auto;
    padding: 10px 0px;
    max-width: 70%;
    width: auto;
    max-height: 200px;
}
.btn a {
    color: #fff;
}

.form-wrap {
    max-width: 1300px;
}
table .action {
    text-align: center;
}

table td.action {
    display: flex;
    justify-content: center;
    align-items: center;
}

button.btn.btn-link.btn-addnew {
    background: #00bcd4;
    text-decoration: none;
    padding: 0.375rem 2rem;
    color: #fff;
    font-size: 18px;
}
button.btn-addnew:hover {
    background: #04a8bd;
}
button.btn-add,
input.btn-sub {
    padding: 0.375rem 1.75rem;
}
input.btn-sub {
    font-size: 18px;
}
.card-header {
    background-color: rgba(170, 178, 187, 0.31);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.order-section .card-header.first {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order-section #accordion {
    margin: auto -1.25rem;
}
.order-section #accordion .card-header {
    padding: 0.3rem 1.25rem;
}

table.dataTable thead tr th:first-child {
    min-width: 23px;
}

/* Requisition List */
.pptitle {
    white-space: nowrap;
}

.filter_form {
    margin: 0 7.5px;
}

.filter_form .form-inline .form-group {
    max-width: 150px;
    margin: 0px 2.5px;
}

.filter_form .form-inline .form-control {
    max-width: 150px;
    margin: 2.5px;
}

/*print pdf button css*/
.right-buttons,
.right-buttons-wrapper {
    display: flex;
    align-items: center;
}

.right-buttons .btn-bvprint {
    margin: 0 9px;
}

.right-buttons .dt-buttons button {
    background: #17a2b8;
    padding: 5px 16px;
    color: #fff;
    border: 2px solid #17a2b8;
    border-radius: 4px;
    cursor: pointer;
}
.right-buttons .dt-buttons button span {
    display: flex;
}

/*   print header   */
.print-header {
    display: none;
    position: relative;
    /*width: 960px;*/
    margin: 0 auto;
    background: #fff;
    /*z-index: 999;*/
    text-align: center;
}
.print-header .title-wrap .line1,
.print-header .title-wrap .line2,
.print-header .title-wrap .line3,
.print-header .title-wrap .line4 {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.3;
    color: #000;
    letter-spacing: 0.5px;
    margin: 0 auto;
}
.print-header .title-wrap .line1 {
    border-bottom: 1px solid #000;
    display: inline-block;
    line-height: 1;
}
.print-header .title-wrap .line3 {
    font-size: 14px;
    border-bottom: 1px solid #000;
    margin: 5px auto;
    display: inline-block;
    line-height: 1;
}
.print-header .title-wrap .line3 span {
    display: inline-block;
    width: 10px;
}
.print-header .title-wrap .line4 {
    font-size: 15px;
    margin-bottom: 15px;
}
.print-header .vessel-info {
    text-align: left;
    padding-left: 15px;
    font-size: 15px;
}
.print-header .vessel-info strong {
    text-transform: uppercase;
    font-weight: 700;
}
.print-header .vessel-info span {
    margin-right: 15px;
}
table.office-use-table {
    border: 1px solid #000;
    width: calc(100% - 30px);
    margin: 0 15px;
    box-sizing: border-box;
}
table.office-use-table td {
    border: 1px solid #000;
    font-size: 14px;
    padding: 5px 0;
}
table.office-use-table td.office_use {
    width: 138px;
    text-transform: uppercase;
    padding: 15px;
    color: #000;
}
table.office-use-table td p {
    font-size: 14px;
    text-align: left;
    margin-left: 5px;
    margin: 3px 5px;
    color: #000;
}
table.office-use-table td p span {
    display: inline-block;
    border-bottom: 1px dashed #000;
    width: 146px;
}
table.office-use-table td p span.checked_by {
    width: 195px;
}
table.office-use-table td p span.invitation {
    width: 295px;
}
table.office-use-table td p span.approved_date {
    width: 332px;
}
table.office-use-table td p span.delevered_obdate {
    width: 266px;
}
table.office-use-table td p span.pua_date {
    width: 107px;
}
table.office-use-table td p span.pfp_date {
    width: 95px;
}
a.req_no_link {
    color: #8000ff;
}
/*=========================================
.privew-wraper
=========================================*/
@font-face {
    font-family: "Times New Roman";
    src: url("../fonts/TimesNewRoman.woff2") format("woff2"),
        url("../fonts/TimesNewRoman.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.privew-wraper {
    font-family: "Times New Roman";
    margin: 0 auto;
    /*max-width: 940px;*/
}

.privew-wraper h3 {
    text-transform: uppercase;
}

.privew-wraper h3 span {
    border-bottom: 1px solid #000;
    font-size: 24px;
}

.privew-wraper h4 {
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    /*border-bottom: 1px solid #000;*/
    font-style: italic;
    margin-top: 15px;
}

#order-print-header1 .od-title,
#order-print-header1 .od-title .title-center {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-flow: row wrap;
}
#order-print-header1 .od-title .title-center {
    flex-flow: column;
    align-content: center;
    justify-content: center;
}
#order-print-header1 .od-title .logo,
#order-print-header1 .od-title .title-right {
    width: 72px;
}

.item-name-print {
    display: none;
}

.no-break table {
    width: 100%;
}

.privew-wraper table tbody tr td {
    vertical-align: top;
    border: 1px solid #000;
    padding: 2px 10px;
}

.privew-wraper table tbody tr td:nth-child(1) {
    width: 270px;
}
.privew-wraper table tbody tr td:nth-child(2) {
    padding-right: 35px;
    display: none;
}

.privew-wraper .owner_co_imo,
.privew-wraper .master_cert_no,
.privew-wraper .ch_eng_cert_no {
    font-weight: 700;
}

/* #order-print-footer1 css */
#order-print-footer1 {
    display: block;
    text-align: left;
}
.footer-notes {
    padding: 15px;
    font-size: 14px;
}

.footer-notes ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.footer-notes ul li {
    padding-left: 15px;
    font-size: 14px;
}
.signs-master-chief {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: flex-end;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    margin: -45px 15px 0px;
}

.signs-master-chief > div {
    width: 30%;
    text-align: center;
    align-content: center;
}

.master-chief,
.chief-officer {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    padding: 15px 15px 0;
    font-size: 14px;
    height: auto;
}
#order-print-footer2 {
    display: block;
}
.signs-master-chief-admin {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.signer-name {
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
    margin: 5px auto;
}
.seal {
    height: 105px;
    padding: 0 15px;
}
.sign {
    max-height: 95px;
    padding: 0 15px;
}
/* #order-print-footer2 css ended*/

table#example1.table-bordered.dataTable tbody tr td:last-child {
    text-align: center;
}

.header-menu.new {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new .create-user-area a {
    color: #fff;
}
.new .create-user-area a:hover,
.new .create-user-area a:focus {
    color: #ccc;
}
table.table-bordered.dataTable td a {
    /*color: #03A9F4;*/
    text-transform: capitalize;
}

/*Requested Order Details*/
.row.mb-3.justify-content-between .col {
    /*    border: 1px dashed #000;
    margin: 15px;
    padding: 5px 12px;
    font-style: italic;*/
    font-size: 14px;
}
.navbar .navbar-nav li > a .menu-icon {
    margin-top: 4px;
}
.funkyradio div {
    clear: both;
    overflow: hidden;
}

.funkyradio label {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #d1d3d4;
    font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
    display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.1em;
    text-indent: 3.25em;
    margin-top: 1em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: "";
    width: 2.5em;
    background: #d1d3d4;
    border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content: "\2714";
    text-indent: 0.9em;
    color: #c2c2c2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
    color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
    content: "\2714";
    text-indent: 0.9em;
    color: #333;
    background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
    color: #333;
    background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5bc0de;
}

.filter_form .form-group {
    margin: 0 2px;
}
.filter_form .form-group #item_name {
    width: 200px;
}
.filter_form .form-group .date {
    width: 150px;
}

/* summary-table-wrapper */
.pv-card-hader.st-1 {
    padding: 0.5rem 1.25rem;
}

.card-header .bsc-zoom {
    font-size: 12px;
    /*display: none;*/
}

#summary-table-wrapper {
    width: 100%;
    overflow: auto;
    zoom: 80%;
    /*height: 630px;*/
}

#summary-table-wrapper.certificate-report-table-wrapper {
    zoom: 80%;
}

/* #summary-table-wrapper .card-header */
#summary-table-wrapper .card-header {
    position: relative;
}

#summary-table-wrapper .header {
    display: flex;
    justify-content: center;
    padding: 0px 0px 8px;
}

#summary-table-wrapper .header h1 {
    color: #f00;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
    line-height: 1.1;
    letter-spacing: 1px;
}

#summary-table-wrapper .header p.lead {
    font-size: 14px;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
}

#summary-table-wrapper .header p {
    font-size: 14px;
    color: #000;
    margin: 0;
    line-height: 1.4;
}

#summary-table-wrapper tr.th {
    text-align: center;
    background: #0092b4;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
}

#summary-table-wrapper tr.th:first-child th:first-child {
    white-space: nowrap;
}

#summary-table-wrapper tr.th:first-child th:first-child:before,
#summary-table-wrapper tr.th:first-child th:first-child:after {
    top: 50%;
    margin-top: -11px;
}

#summary-table-wrapper tr.th th:before,
#summary-table-wrapper tr.th th:after {
    top: 50%;
    margin-top: -11px;
}
#summary-table-wrapper thead tr.th:last-child th {
    border-top: none;
}

#summary-table-wrapper thead th,
#summary-table-wrapper thead td {
    border-bottom-width: 1px;
    border-bottom-color: #ddd;
}

#summary-table-wrapper .dataTable tr.th th {
    padding-right: 25px !important;
    background: #0092b4;
}

#summary-table-wrapper th:last-child,
#summary-table-wrapper th:last-child,
#summary-table-wrapper td:last-child,
#summary-table-wrapper td:last-child {
    border-right-width: 1px;
}
.dashboard
{
    width: 100%;
}
.dashboard table{
    background-color: #fff;
}
.dashboard .table th, .table td
{
    font-size: 14px;
}
#summary-table-wrapper tr th,
#summary-table-wrapper tr td {
    padding: 8px 12px;
    vertical-align: middle;
    font-size: 14px;
    /*border-width: 1px;*/
}

/* #summary-table-modal */
#summary-table-modal .modal-lg {
    width: 95%;
    max-width: 1600px;
}

#summary-table-modal .modal-lg .card {
    margin: 0;
}

#summary-table_wrapper .row:first-child {
    display: none;
}

#summary-table-modal .modal-lg #summary-table-wrapper {
    zoom: 90%;
    margin: 0;
    font-size: 12px;
    font-family: inherit;
    height: auto;
}

#summary-table-modal .modal-lg .card #summary-table {
    margin: 0;
}

#summary-table-modal .modal-lg #summary-table-wrapper th,
#summary-table-modal .modal-lg #summary-table-wrapper td {
    font-size: 12px;
}

#summary-table-modal .modal-lg .modal-title {
    font-weight: 700;
}

/* Large devices (desktops, 1600px and up)
*/
@media (min-width: 1600px) {
    #summary-table-wrapper {
        zoom: 64%;
    }

    #summary-table-wrapper.certificate-report-table-wrapper {
        zoom: 100%;
    }
}
.right-icon {
    float: right;
}
.stat-widget-five {
    min-height: 80px;
}

/* Large devices (desktops, 1199px and down)
*/
@media (max-width: 1400px) {
    .filter_form .form-group .date {
        width: 110px;
    }

    /* Requisition List */
    .filter_form .form-inline .form-control {
        max-width: 105px;
        margin: 2.5px;
        font-size: 14px;
        padding: 5px 8px;
        height: 36px !important;
    }

    .filter_form .form-inline .bsc-search,
    .right-buttons button {
        font-size: 14px;
        padding: 5px 10px;
        height: 34px !important;
    }
}

/* Large devices (desktops, 1199px and down)
*/
@media (max-width: 1199px) {
}

/* Medium devices (tablets, 991px and down) */
@media (max-width: 991px) {
}

/* Small devices (landscape phones, 767px and down) */
@media (max-width: 767px) {
}

/* Extra Small devices (landscape phones, 575px and down) */
@media (max-width: 575px) {
}
.deliver_qty {
    max-width: 100px;
}
.user-area
{
    display: flex;
    justify-content: space-evenly;
}
.btn-lang
{
    height: 37px;
    margin-top: 8px;
    margin-right: 21px;
}
.irdheader
{
    text-align: center;
}
.irdheader p{
    color: #000;
    margin-bottom: 2px;
    font-weight: 600;
}
.avl-stock{
    display:inline-flex;
    margin-top:2em;
    font-weight:600
}
.req-view
{
    padding: 10px;
    background: #f5f5f5;
    margin: 2px;
}
.req-view strong
{
    font-size: 16px;
} 
.req-view p
{
    font-size: 15px;
    color:#000;
    margin-bottom: 0px;
}
#req-list-body tr > td:last-of-type {
    display: none;
}
.buttons-csv, .buttons-pdf
{
    background-color: #007184;
    border-color: #01849a;
    color: #fff;
    width: 54px;
    cursor: pointer;
}